.aboutPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  /* padding: 0 20px; */
}
.pageHeader {
  font-size: 3rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}
@media only screen and (min-width: 850px) {
  /* .aboutContainer {
    max-width: 1200px;
  } */
}
.aboutBanner {
  /* min-height: 300px;
  background-color: green; */
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.aboutContainer {
  /* margin: 20px 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .about1,
  .about2,
  .about3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .aboutContent {
    flex-wrap: wrap;
  }

  .aboutHeader {
    width: 100%;
  }
  .aboutHeaderImage {
    width: 100%;
    height: auto;
  }
}

.aboutContent {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
.philosophyContainer,
.teamContainer,
.alumniContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  width: 100%;
  padding: 30px 20px;
}
.teamContainer {
  background-color: rgb(184, 184, 184);
  min-height: 400px;
}
.alumniContainer {
  background-color: rgb(220, 195, 133);
  min-height: 400px;
}
.aboutHeader {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.aboutHeaderImage {
  width: auto;
  height: 100%;
  position: relative;
  margin-top: 10px;
}
.philosophyTextHeader,
.teamHeaderText,
.alumniTextHeader {
  margin: 0;
  font-size: 3rem;
}
.philosophyTextHeader,
.alumniTextHeader {
  padding-left: 20px;
}
.teamHeaderText {
  text-align: right;
  padding-right: 20px;
}
.aboutText {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  width: 60%;
}
@media only screen and (min-width: 1300px) {
  .teamHeaderText {
    padding-right: 10%;
  }
  .philosophyTextHeader,
  .alumniTextHeader {
    padding-left: 10%;
  }
}
.viewMore1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.viewMore2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.viewMoreButton {
  border: 1px solid lightgrey;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  background-color: rgb(142, 164, 189);
  margin: 0;
  color: black;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .aboutHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .aboutHeaderImage {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 10px;
  }
  .aboutText {
    order: 2;
    font-size: 1.2rem;
    width: 100%;
  }
  .viewMore1,
  .viewMore2 {
    justify-content: center;
  }
  .viewMoreButton {
    font-size: 1rem;
  }
}
