.contentContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 1200px;
  padding: 20px 30px;
}
@media only screen and (max-width: 600px) {
  .contentContainer {
    padding: 0;
    margin-top: 80px;
  }
}
.pageHeader {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}
.pageDescription {
  text-align: center;
  font-size: 1.3rem;
}
.playerContainer {
  display: flex;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.3),
    1px 5px 10px 1px rgba(0, 0, 0, 0.15), 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.playerDescription {
  width: 70%;
  /* padding: 20px 40px; */
  display: flex;
  flex-direction: column;
}
.playerDescription p {
  margin: 0;
}
.playerName {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #63a7e2;
  color: white;
  border-top-right-radius: 10px;
  font-size: 1.5rem;
}
.playerBio {
  background-color: #63a7e2;
  color: white;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 10px;
  margin: 0;
}
.playerQuote {
  padding: 20px;
}
.playerPic {
  width: 30%;
  min-height: 200px;
  position: relative;
}
.alumniPic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .playerContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .playerPic {
    width: 100%;
  }
  .playerDescription {
    padding: 0;
    width: 100%;
  }
  .alumniPic {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    object-position: 50% 10%;
  }
  .playerName {
    border-top-right-radius: 0;
  }
}
.playerDescriptionNoPic {
  width: 100%;
  /* padding: 20px 40px; */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 10px;
}
.playerNameNoPic {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #63a7e2;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 1.5rem;
}
