.contentContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 1200px;
  padding: 20px 30px;
}
@media only screen and (max-width: 600px) {
  .contentContainer {
    padding: 0;
    margin-top: 80px;
  }
}
.pageHeader {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}
.playerContainer {
  display: flex;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
}
.playerDescription {
  width: 70%;
  /* padding: 20px 40px; */
  display: flex;
  flex-direction: column;
}
.playerDescription p {
  margin: 0;
}
.playerName {
  margin: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  background-color: rgba(142, 59, 70, 0.95);
  color: white;
  border-top-right-radius: 10px;
}
.playerBio {
  background-color: rgba(142, 59, 70, 0.95);
  color: rgb(235, 235, 235);
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
}
.playerQuote {
  padding: 20px;
}
.playerPic {
  width: 30%;
  min-height: 200px;
  position: relative;
}
.alumniPic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .playerContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .playerPic {
    width: 100%;
  }
  .playerDescription {
    padding: 0;
    width: 100%;
  }
  .alumniPic {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
  .playerName {
    border-top-right-radius: 0;
  }
}
