.pageContent {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bannerContainer {
  height: 350px;
  width: 100%;
  margin-top: 70px;
  object-position: 40% 50%;
  position: relative;
  background-color: black;
}
.bannerPic {
  opacity: 0.5;
}
.bannerText {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  align-items: center;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .bannerText {
    font-size: 3.5rem;
  }
  .bannerContainer {
    height: 300px;
  }
}
.contactContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgb(42, 93, 155);
}
.contactFormContainer {
  /* margin: 0 50px; */
  color: white;
  background-color: rgb(42, 93, 155);
  padding: 30px 50px;
  border-radius: 5px;
}
.contactFormContainer h1 {
  font-size: 2rem;
  margin: 0;
}
.contactFormContainer p {
  font-size: 1.5rem;
}
.contactContent {
  display: flex;
  background-color: rgb(42, 93, 155);
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .contactContent {
    flex-wrap: wrap;
  }
}
.connectContainer {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0 50px;
}
.connectContainer h1 {
  font-size: 2rem;
}
.connectContainer p {
  font-size: 1.5rem;
  margin: 0;
}
.location {
  margin-top: 2rem;
  margin-bottom: 0;
}
.contactForm {
  display: flex;
  flex-direction: column;
  color: white;
}
.input {
  border: 1px solid grey;
  height: 2rem;
  margin: 5px 0;
  padding: 0 5px;
  font-size: 1.2rem;
  border-radius: 5px;
}
.textArea {
  font-size: 1.2rem;
  border: 1px solid grey;
  margin: 5px 0;
  border-radius: 5px;
}
.submitButton {
  border: 3px solid white;
  background-color: rgb(42, 93, 155);
  width: 100px;
  height: 2rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  align-self: flex-end;
}
.submitButton:hover {
  background-color: rgb(190, 209, 233);
}
