.teamContentContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  max-width: 1400px;
  padding: 20px;
}
.pageHeader {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}
.staffHeading {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}

.headCoachContainer {
  display: flex;
  margin: 40px 10px;
}
.headCoachPicContainer {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .headCoachContainer {
    flex-wrap: wrap;
  }
  .headCoachPicContainer {
    width: 100%;
  }
  .headCoachDescription {
    padding: 0 10px;
    width: 100% !important;
  }
}

.headCoachDescription {
  padding: 0 10px;
  width: 60%;
}
.headCoachDescription * {
  margin: 0;
}
.headCoachDescription p {
  font-size: 1.2rem;
}

.currentCoachesContainer {
  display: flex;
  margin: 20px 0px;
  width: 100%;
  flex-wrap: wrap;
}
.singleCoachContainer {
  margin: 10px;
  width: 23%;
  min-width: 200px;
}
@media only screen and (max-width: 600px) {
  .currentCoachesContainer {
    flex-wrap: wrap;
  }
  .singleCoachContainer {
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .coachPicContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .singleCoachDescription {
    padding: 20px;
  }
}
.coachPicContainer {
  max-width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.singleCoachDescription * {
  margin: 0;
  padding: 0 5px;
}
