.teamContentContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  max-width: 1400px;
  padding: 20px;
}
.pageHeader {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}
.staffHeading {
  text-align: center;
  margin: 0;
  border-bottom: 1px solid rgb(162, 162, 162);
}

.headCoachContainer {
  display: flex;
  margin: 40px 10px;
  background-color: white;
  border-radius: 10px;
  /* padding: 40px; */
}
.headCoachPicContainer {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .headCoachContainer {
    flex-wrap: wrap;
    padding: 0;
  }
  .headCoachPicContainer {
    width: 100%;
  }
  .headCoachDescription {
    padding: 20px;
    width: 100% !important;
  }
  .headCoachDescription h1 {
    margin: 10px 0;
  }
  .teamContentContainer {
    padding: 0;
  }
  .headCoachDescription p {
    padding-bottom: 15px;
  }
}

.headCoachDescription {
  padding: 40px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.headCoachDescription * {
  margin: 0;
  margin-top: 10px;
}
.headCoachDescription p {
  font-size: 1.2rem;
  color: rgb(50, 50, 50);
}
.coachName {
  margin: 0;
  font-size: 2.2rem;
}
.headCoachDescription h2 {
  font-size: 1.8rem;
  color: rgb(142, 59, 70);
}
.headCoachPic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .headCoachPic {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}
.currentCoachesContainer {
  display: flex;
  margin: 20px 0px;
  width: 100%;
  flex-wrap: wrap;
}

.singleCoachContainer {
  margin: 10px;
  /* width: 23%; */
  min-width: 200px;
  width: 23%;
}

@media only screen and (max-width: 1055px) {
  .currentCoachesContainer {
    justify-content: space-evenly;
  }
  .singleCoachContainer {
    width: 30%;
  }
}
@media only screen and (max-width: 900px) {
  .coachPicContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .singleCoachDescription h1 {
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .currentCoachesContainer {
    flex-wrap: wrap;
  }
  .singleCoachContainer {
    justify-content: center;
    width: 100%;
  }
}

.coachPicContainer {
  max-width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.coachPic {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.singleCoachDescription {
  border-radius: 10px;
  color: rgb(50, 50, 50);
  background-color: white;
}
.singleCoachContainer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.singleCoachDescription * {
  margin: 0;
}
.singleCoachDescription h1 {
  padding: 20px;
  /* padding-bottom: 0; */
  font-size: 1.6rem;
}
.singleCoachDescription p {
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.showMoreBox {
  padding: 20px;
  position: relative;
}
.singleCoachName {
  background-color: rgb(142, 59, 70);
  color: white;
  text-align: center;
}
.coachDescription {
  height: 120px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.coachDescriptionAll {
  overflow: auto;
  /* height: 100%; */
  background-color: white;
}
.iconContainer {
  width: 100%;
  height: 50px;
}
.myanchorcssclass {
  color: black;
  position: absolute;
}
@media only screen and (max-width: 900px) {
  .singleCoachDescription h1 {
    padding: 20px;
  }
  .singleCoachDescription p {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .singleCoachDescription {
    padding: 0;
  }
  .singleCoachDescription h1 {
    padding: 20px;
  }
  .singleCoachDescription p {
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.pastCoachName {
  background-color: rgb(142, 59, 70);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
