@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: rgb(238, 238, 238);
  z-index: 100;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
#__next {
  width: 100%;
  height: 100%;
  position: relative;
}
.pageHeader {
  font-size: 3rem;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.bodyContent {
  min-height: 100%;
  position: relative;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgb(42, 93, 155);
  z-index: 1000;
}
.navLogo {
  display: flex;
  color: white;
}

.navLink {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  width: 100%;
  /* z-index: 100 !important; */
}
.navLink:hover {
  font-weight: bold;
}
a:hover {
  color: white;
  font-weight: bold;
}

.navOptions {
  display: flex;
  height: 100%;
  align-items: center;
}

/* MOBILE NAV */
.bm-burger-button {
  display: none;
}
.bm-burger-bars {
  background: #373a47;
  color: black;
}

@media only screen and (min-width: 600px) {
  .mobileNav {
    display: none;
  }
  .mobileNavLink {
    display: none;
  }
  #bm-menu-wrap {
    display: none;
  }
  .bm-item-list {
    display: none;
  }
  .bm-menu {
    display: none;
  }
  .bm-menu-wrap {
    display: none;
  }
}
.navList {
  display: flex;
  height: 100%;
  padding-top: 20px;
}

.navList li {
  height: 100%;
  width: 100%;
}
.navList li:hover {
  border-bottom: 2px solid white;
}
@media only screen and (max-width: 600px) {
  .navBar {
    padding: 0 10px;
  }
  .navOptions {
    justify-content: center;
  }
  .navList {
    display: none;
  }
  /* .navList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 40px;
    left: -100%;
    opacity: 0.9;
    transition: all 0.5 ease;
  }
  .navList.active {
    left: 0;
    transition: all 0, 5s ease;
    background-color: rgb(42, 93, 155);
    padding-left: 0;
    position: fixed;
    height: 100vh;
  } */

  .bm-burger-button {
    display: flex;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 26px;
    top: 15px;
  }
  .bm-burger-bars {
    background: #373a47;
    color: black;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
  }
  .mobileNavLink {
    color: white;
    font-size: 2rem;
    margin: 0.2rem;
  }
  .bm-overlay {
    top: 3.7rem;
    background: rgb(42, 93, 155, 0.9) !important;
    left: 0;
    height: 100% !important;
  }
  .bm-burger-bars {
    background: white !important;
  }
  .burgerNav {
    top: 4.8rem;
    left: 0;
    width: 100% !important;
    position: relative;
  }
}

.bannerContainer {
  min-height: 400px;
  width: 100%;
  background-image: url("../public/banner.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-top: 60px;
  display: flex;
}

.bannerText,
.bannerText2,
.programText {
  color: white;
  z-index: 10;
  margin: 0;
}
.bannerText {
  margin-top: 40px;
  font-size: 5rem;
}
.bannerText2 {
  font-size: 2.5rem;
  margin: 0;
  margin-left: 7.5rem;
}

@media only screen and (max-width: 600px) {
  .bannerContainer {
    background-size: cover;
  }
  .bannerText2 {
    margin: 0;
  }
}
.programsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.singleProgramContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 300px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
}

.sp1,
.sp2,
.sp3 {
  background-position: center;
  background-size: cover;
}
.sp1 {
  background-image: url("../public/programphoto1.jpeg");
}
.sp2 {
  background-image: url("../public/programphoto2.jpg");
}
.sp3 {
  background-image: url("../public/programphoto3.jpeg");
}

/* VIDEO FEED */

.videoFeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 183, 110);
  padding: 20px 0;
}
.videoHeader {
  color: black;
  margin: 0;
}
.videoSliderContainer {
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 0;
}

/* VIDEO SECTION */
.videoImageContainer {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

.videoThumbnail {
  border: 2px solid black;
}
.carousel-item {
  /* margin: 0 5px; */
  border: 5px solid rgb(216, 183, 110);
  object-fit: fill;
  height: 200px;
  width: 300px;
}
.video {
  object-fit: cover;
}

/* CONTACT FORM  */
.imageOverlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.3;
}
.imageOverlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contactContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(172, 203, 225);
  padding: 20px 60px;
  width: 40%;
  min-height: 340px;
}

@media only screen and (min-width: 768px) {
  .formLine1 {
    display: flex;
    width: 100%;
  }
  .formLine1 * {
    /* margin-right: 20px; */
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .contactFormContainer {
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .imageContainer {
    display: none;
  }
}
.contactForm {
  width: 100%;
}
.contactFormContainer > h1 {
  margin: 0;
}
.contactFormContainer p {
  margin: 5px 0;
}

.contactSubmitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.contactFullWidthText {
  width: 100%;
}
.imageContainer {
  position: relative;
  width: 370px;
  height: auto;
  overflow: hidden;
}
.image {
  object-fit: cover;
}

.MuiInputBase-input {
  background: white !important;
  /* height: 20px !important; */
  width: 100% !important;
}
.MuiFilledInput-input,
.contactSubmit {
  padding: 5px !important;
}
.contactSubmit,
.MuiButton-label {
  background-color: white !important;
  width: 30% !important;
}
.textBox {
  padding: 0 !important;
  width: 100% !important;
}
@media only screen and (min-width: 768px) {
  .inputFirstName {
    padding-right: 10px !important;
  }
  .inputLastName {
    padding-left: 10px !important;
  }
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 93, 155);
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 30px;
  animation: fadeIn 0.3s ease-in;
  /* top: 0; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropDown > * {
  margin: 10px 0 !important;
}
.dropdownLink {
  margin: 5px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  height: 100%;
}
.dropdownLink:hover {
  font-weight: bold;
}
.footerContainer {
  background-color: rgb(42, 93, 155, 1);
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
