@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100%;
  background-color: rgb(238, 238, 238);
  z-index: 100;
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0;
}
#__next {
  width: 100%;
  height: 100%;
  position: relative;
}
.pageHeader {
  font-size: 3rem;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.bodyContent {
  min-height: 100%;
  position: relative;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.navBar {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 50px;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: rgb(42, 93, 155);
  z-index: 1000;
  color: white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5),
    1px 5px 15px 1px rgba(0, 0, 0, 0.3), 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
}
.navLogoContainer {
  height: 80%;
  width: 100px;
  position: relative;
}
.navLogo {
  display: flex;
  color: white;
  /* margin: 0 20px; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.logoText {
  margin: 0;
  margin-left: 20px;
}

@media only screen and (max-width: 900px) {
  .logoText {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 815px) {
  .logoText {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .logoText {
    position: absolute;
    width: 100%;
    justify-content: center;
    padding-right: 10px;
    height: 100%;
    margin: 0;
  }
}
.navList {
  display: flex;
  height: 100%;
  /* width: 40vw; */
  align-items: center;
  justify-content: space-evenly;
}
.navList div {
  box-sizing: border-box;
  /* margin: 0 20px; */
}
.navLink {
  cursor: pointer;
  font-size: 1.4rem;
  color: white;
  width: 100%;
  /* padding: 0 20px; */
  padding: 0 20px;
  font-weight: 400;
  height: 100%;
  display: flex;
  align-items: center;
}
.navList li {
  height: 100%;
}
.navList div {
  height: 100%;
}

.navLink:hover {
  /* font-weight: bold; */
  background-color: rgb(45, 108, 184);
}
a:hover {
  color: white;
  /* font-weight: bold; */
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 93, 155);
  /* padding: 20px; */
  animation: fadeIn 0.3s ease-in;
  top: 70px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navActivate {
  background-color: rgb(45, 108, 184);
  /* border-bottom: 1px solid white; */
}
.dropdownLink {
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  padding: 5px 20px;
  background-color: rgb(42, 93, 155);
  width: 100%;
  padding-right: 100px;
  width: 210px;
}
.dropdownLink:hover {
  font-weight: bold;
}
.dropdownLast {
  padding-bottom: 40px;
}
.dropdownStart {
  padding-top: 20px;
}
.navOptions {
  display: flex;
  height: 100%;
  align-items: center;
}

/* MOBILE NAV */
.bm-burger-button {
  display: none;
}
.bm-burger-bars {
  background: #373a47;
  color: black;
  height: 100%;
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  .mobileNav {
    display: none;
  }
  .mobileNavLink {
    display: none;
  }
  #bm-menu-wrap {
    display: none;
  }
  .bm-item-list {
    display: none;
  }
  .bm-menu {
    display: none;
  }
  .bm-menu-wrap {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    padding: 0 10px;
  }
  .navOptions {
    justify-content: center;
  }
  .navList {
    display: none;
  }
  /* .navList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 40px;
    left: -100%;
    opacity: 0.9;
    transition: all 0.5 ease;
  }
  .navList.active {
    left: 0;
    transition: all 0, 5s ease;
    background-color: rgb(42, 93, 155);
    padding-left: 0;
    position: fixed;
    height: 100vh;
  } */

  .bm-burger-button {
    display: flex;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 26px;
    top: 15px;
  }
  .bm-burger-bars {
    background: #373a47;
    color: black;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
  }
  .mobileNavLink {
    color: white;
    font-size: 2rem;
    margin: 0.2rem;
  }
  .bm-overlay {
    top: 3.7rem;
    background: rgb(42, 93, 155, 0.9) !important;
    left: 0;
    height: 100% !important;
  }
  .bm-burger-bars {
    background: white !important;
  }
  .burgerNav {
    top: 4.8rem;
    left: 0;
    width: 100% !important;
    position: relative;
  }
}

/* PHILOSOPHY SECTION */
.philosophyContainer {
  padding: 40px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8abae4;
}
.philosophyContainer h1 {
  font-size: 2rem;
  margin: 0;
  color: white;
}
.philosophyContainer p {
  font-size: 1.2rem;
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .philosophyContainer h1 {
    font-size: 2rem;
  }
  .philosophyContainer p {
    font-size: 1rem;
  }
}

/* TESTIMONIALS */
.testimonialsContainer {
  width: 100%;
  padding: 40px 0;
  background-color: rgb(142, 59, 70);
}
.testimonialsHeader {
  text-align: center;
  color: rgb(111, 111, 111);
  margin: 0;
  position: absolute;
  width: 100%;
  font-size: 2.5rem;
}
.testimonialsSlider {
  width: 100%;
  height: 100%;
}
.testimonialsText {
  width: 100%;
  padding: 40px 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonialsText h1 {
  margin: 0;
  font-size: 1.5rem;
  color: rgb(240, 240, 240);
  font-weight: 400;
  font-family: "Merriweather", serif;
  animation: fadeIn 2s;
  text-align: center;
}

.testimonialName {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
  color: white;
  margin-top: 20px;
}
.testimonialBio {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.testimonialQuoteContainer {
  width: auto;
  height: auto;
}
.leftquoteContainer {
  position: absolute;
  height: 75px;
  width: 75px;
  left: 25px;
  top: 0;
}
.rightquoteContainer {
  position: absolute;
  height: 75px;
  width: 75px;
  right: 25px;
  bottom: 0;
}
@media only screen and (max-width: 800px) {
  .testimonialsText h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .testimonialsText h1 {
    font-size: 1.2rem;
  }
  .testimonialsText {
    padding: 60px 40px;
  }

  .testimonialsText h2 {
    font-size: 1rem;
  }
  .leftquoteContainer {
    height: 50px;
    width: 50px;
  }
  .rightquoteContainer {
    height: 50px;
    width: 50px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.fade-in-section {
  opacity: 0;
  /* transform: translateY(20vh); */
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
/* VIDEO FEED */
.videoFeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 148, 65);
  padding: 40px 0;
}
.videoHeader {
  color: white;
  margin: 0;
  font-size: 2.5rem;
}
@media only screen and (max-width: 600px) {
  .videoHeader {
    font-size: 2rem;
  }
}
/* .sliderContainer {
  height: 300px;
} */
.carousel-item {
  position: relative;
  min-height: 200px;
}
.react-multi-carousel-track {
  height: 100%;
  margin: 40px 0 !important;
}
.slider-carousel-container {
  width: 100vw;
}
.sliderContainer {
  width: 100%;
}
.carousel-item {
  border: 10px solid rgb(250, 148, 65);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .carousel-item {
    border: none;
    text-align: center;
  }
}

/* PROGRAMS */
.programText {
  color: white;
  z-index: 10;
  margin: 0;
}
.programsBackground {
  opacity: 0.2;
}
.programsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: #376c48; */
  /* background-image: url("../public/homepage/programs/3.jpg"); */
  /* background-size: cover; */
  background-color: black;
  object-fit: contain;
  padding: 60px;
  position: relative;
}

.singleProgramContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  margin: 20px;
}
@media only screen and (max-width: 600px) {
  .programsContainer {
    padding: 0;
  }
  .singleProgramContainer {
    margin: 0;
  }
}
.sp1,
.sp2,
.sp3 {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.sp1 {
  background-image: url("../public/homepage/programs/2.jpg");
}
.sp2 {
  background-image: url("../public/homepage/programs/3.jpg");
}
.sp3 {
  background-image: url("../public/homepage/programs/1.jpg");
}

/* CONTACT FORM  */
.imageOverlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.2;
  border-radius: 10px;
}
.imageOverlay:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contactContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}

@media only screen and (min-width: 768px) {
  .formLine1 {
    display: flex;
    width: 100%;
  }
  .formLine1 * {
    /* margin-right: 20px; */
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .imageContainer {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .imageContainer {
    display: none;
  }
  .contactContainer {
    padding: 0;
    background-color: rgb(42, 93, 155);
  }
  .imageOverlay {
    border-radius: 0;
  }
  .sp1,
  .sp2,
  .sp3 {
    border-radius: 0;
  }
}

.imageContainer {
  position: relative;
  width: 450px;
  height: 450px;
}
@media only screen and (max-width: 1200px) {
  .imageContainer {
    position: relative;
    width: 300px;
    height: 500px;
  }
}
@media only screen and (max-width: 1050px) {
  .imageContainer {
    display: none;
  }
}

.footerContainer {
  background-color: rgb(42, 93, 155, 1);
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 40px;
  display: flex;
  justify-content: space-evenly;
}
.footerLogoContainer {
  position: relative;
  margin-right: 20px;
}
.footerContainer p {
  margin: 0;
  color: white;
  font-size: 1.2rem;
}
.footerLogo {
  height: 100%;
  margin: 0 20px;
  color: white;
  align-self: center;
}

.footerColumn {
  width: 30%;
  margin: 0 20px;
}
.footerColumn .copyrightText {
  font-size: 0.8rem;
}
.footerColumn h1,
.footerColumn h2 {
  margin: 0;
  color: white;
  font-size: 1.8rem;
}

.footerColumn h2 {
  font-size: 1.3rem;
  margin: 5px 0;
}
@media only screen and (max-width: 600px) {
  .footerContainer {
    display: none;
  }
}
.footerLink:hover {
  cursor: pointer;
  font-weight: 600;
}
